[submodule "external/tree-sitter"]
	path = external/tree-sitter
	url = https://github.com/tree-sitter/tree-sitter.git
[submodule "external/tomlc17"]
	path = external/tomlc17
	url = https://github.com/cktan/tomlc17
[submodule "external/cjson"]
	path = external/cjson
	url = https://github.com/DaveGamble/cJSON.git
